* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

/* navbar */
#navbar {
  height: 60px;
  padding: 0 30px; 
}

#navbar a {
  line-height: 60px;
}

#navbar img {
  vertical-align: middle;
}

#menu {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
}

#menu li {
  float: left;
  margin-right: 30px;
}

#menu li a {
  text-decoration: none;
  font-weight: bold;

  color: black;
  line-height: 60px;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
}
/* hero header */
#hero_header {
  height: 450px;
  vertical-align: middle;
  background-image: url(../images/hero_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 60px;
}
/* products */
#products p:first-child {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #545454;
  margin-bottom: 60px;
  text-align: center;
}

#products {
  width: 735px;
  margin-left: auto;
  margin-right: auto;
}

#products .product {
  float: left;
  margin-right:20px;
  margin-bottom: 80px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #545454;
}



.product p {
  margin: 0;
  margin-top: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.product .price{
  margin-top: 4px;
}

.product:hover{
  /* border로 할 경우, 두께에 밀려 다음줄로 넘어가는 문제 발생. */
  outline: black solid 2px;
}

#clearfix {
  clear: left;
}

/* footer */

#footer {
  text-align: center;
  margin-top:120px;
  margin-bottom: 80px;
}

#footer a {
  text-decoration: none;
  margin-right: 20px;
}
