body{
  background-color: #ecf0f1;
}

.btn {
  cursor: pointer;
}

h1{
  color: #34495e;
  /* transition은 속성을 서서히 변화시키는 속성. */
  transition: color 0.5s ease-in-out;
}


.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}